<ion-content padding>
  <ion-button *ngIf=showIfNotFirstSlide class="btnPrev" (click)="goToPrevSlide()">ZURÜCK</ion-button>
  <ion-button class="btnNext" (click)="goToNextSlide()">{{nextButtonText}}</ion-button>
  <ion-slides id="ion-slides" class="slider" pager="true" (ionSlideDidChange)="slideChanged()">
      
    <ion-slide>
      <div class="contentdiv">
        <img style="float:left;clear:both;padding:2em;" src="../assets/logo.png"/>
        <h1 style="font-size: 2em;float:left;clear:both;">Willkommen zu der Beatarea App.</h1>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="contentdiv">
        <h1 style="clear:both;">Wählen Sie den MQTT Server aus:</h1>
        <ion-card margin lines="full">
          
          <ion-item (click)="setMQTTServer('192.168.1.119')">
            <ion-label>192.168.1.119</ion-label>
          </ion-item>
          <ion-item (click)="setMQTTServer('192.168.1.100')">
            <ion-label>192.168.1.100</ion-label>
          </ion-item>
          <ion-item (click)="setMQTTServer('192.168.1.200')">
            <ion-label>192.168.1.200</ion-label>
          </ion-item>
        </ion-card>
        <p margin> oder geben Sie ein eigenen MQTT Server an:</p>
        <ion-item margin>
            <ion-input placeholder="192.168.1.119" [(ngModel)]="serveraddress"></ion-input>
            <ion-button (click)="setMQTTServer(serveraddress)">Save</ion-button>
          </ion-item>

      </div>
    </ion-slide>
      
    <ion-slide>
      <div class="contentdiv">
        <h1>Geben Sie ihr Benutzername an:</h1>
        <ion-item margin>
          <ion-input placeholder="username" [(ngModel)]="username"></ion-input>
          <ion-button (click)="loginUser()">Login</ion-button>
         </ion-item>
      </div>
    </ion-slide>

    <!--    
      <ion-slide>
        <div class="contentdiv">
          <h1>Wählen Sie ihr Gerät zum Tracken aus der Liste aus:</h1>
          <ion-card margin lines="full">
            <ion-item>
              <ion-label>5B-75-72-CE-4F-22</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>192.168.1.119</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>192.168.1.119</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>192.168.1.119</ion-label>
            </ion-item>
          </ion-card>
        </div>
      </ion-slide>
    -->
  </ion-slides>
</ion-content>
