//Set the Slider height to the whole page
.slider {
    height: 100%;
  }

.contentdiv {
    margin-top: -10em;
}

.btnNext{
    float:right;
    position: absolute;
    right:    3em;
    bottom:   0.8em;
    z-index:2;
}

.btnPrev{  
    float:right;
    position: absolute;
    left:    3em;
    bottom:   0.8em;
    z-index:2;
}

ion-button{
    width: 6em;
}